<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="style.css">

	<title>Ukukhula</title>
</head>
<body>

	<aside id="sidebar">
		<a href="#" class="brand">
			<i class='bx bxs-smile'></i>
			<span class="text">Ukukhula</span>
		</a>
		<ul class="side-menu top">
			<li class="active">
				<a href="#">
					<i class='bx bxs-dashboard' ></i>
					<span class="text">Dashboard</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-shopping-bag-alt' ></i>
					<span class="text">My Store</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-doughnut-chart' ></i>
					<span class="text">Analytics</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-message-dots' ></i>
					<span class="text">Message</span>
				</a>
			</li>
			<li>
				<a href="#">
					<i class='bx bxs-group' ></i>
					<span class="text">Team</span>
				</a>
			</li>
		</ul>
		<ul class="side-menu">
			<li>
				<a href="#">
					<i class='bx bxs-cog' ></i>
					<span class="text">Settings</span>
				</a>
			</li>
			<li>
				<a href="#" class="logout">
					<i class='bx bxs-log-out-circle' ></i>
					<span class="text">Logout</span>
				</a>
			</li>
		</ul>
	</aside>


	<section id="content">
		<nav>
			<i class='bx bx-menu' ></i>
			<!-- <a href="#" class="nav-link">Categories</a> -->
			<form action="#">
				<div class="form-input">
					<input type="search" placeholder="Search...">
					<button type="submit" class="search-btn"><i class='bx bx-search' ></i></button>
				</div>
			</form>
			<a href="#" class="notification">
				<i class='bx bxs-bell' ></i>
				<span class="num">8</span>
			</a>
			<a href="#" class="profile">
				<img src="img/people.png">
			</a>
		</nav>
		<main>
			<div class="head-title">
				<h1>Add University</h1>
				<div class="left">
					
				</div>				
			</div>
			<form class="form university-form">
				<!-- <header class="form__header">
				  <h1>Ukukhula Bursary</h1>
				  <h2>(University)</h2>
				</header> -->
		  
				<section class="form__controls-container">
				  <fieldset class="form__details-container">
					<legend class="form__details-header">University Details</legend>
					<ul class="form__controls">
					  <li class="form__control">
						<label for="name">Name</label>
						<input type="text" name="universityName" id="name" required />
					  </li>
		  
					  <li class="form__control">
						<label for="province">Province</label>
						<select name="provinceID" id="province">
						  <option value="0">Select Province</option>
						  <option value="1">Earstern Cape</option>
						  <option value="2">Freestate</option>
						  <option value="3">Gauteng</option>
						  <option value="4">Kwazulu-natal</option>
						  <option value="5">Limpopo</option>
						  <option value="6">Mpumalanga</option>
						  <option value="7">North West</option>
						  <option value="8">Northern Cape</option>
						  <option value="9">Western Cape</option>
						</select>
					  </li>
					</ul>
				  </fieldset>
		  
				  <fieldset class="form__details-container">
					<legend class="form__details-header">Contact Person</legend>
					<ul class="form__controls">
					  <li class="form__control">
						<label for="first-name">First Name</label>
						<input type="text" name="firstName" id="first-name" required />
					  </li>
		  
					  <li class="form__control">
						<label for="last-name">Last Name</label>
						<input type="text" name="lastName" id="last-name" required />
					  </li>
		  
					  <li class="form__control">
						<label for="phone">Phone Number</label>
						<input type="tel" name="phoneNumber" id="phone" required />
					  </li>
		  
					  <li class="form__control">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" required />
					  </li>
		  
					  <li class="form__control">
						<label for="department">Department</label>
						<select name="departmentID" id="department">
						  <option value="0">Select Department</option>
						  <option value="1">Artificial Intelligence</option>
						  <option value="2">Computer Engineering</option>
						  <option value="3">Computer Game Design</option>
						  <option value="4">Computer Science</option>
						  <option value="5">Cybersecurity</option>
						  <option value="6">Data Science</option>
						  <option value="7">Information Systems</option>
						  <option value="8">Software Engineering</option>
						</select>
					  </li>
					</ul>
				  </fieldset>
				</section>
				<button
				  type="submit"
				  class="form__submit primary_button"
				  id="add-university"
				>
				  Add University
				</button>
			  </form>
			
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="script.js"></script>
</body>
</html>