.funds {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
}

.funds__balance {
  font-size: 2rem;
  font-weight: 700;
  color: var(--main-color);
}

.funds_usage {
  display: flex;
  justify-content: space-between;

  padding: 0.5rem;
  border-radius: 0.5rem;

  background-color: var(--main-color-transparent);
}

.used,
.funded {
  font-weight: 900;
  text-align: center;
}

/* BBD Dashboard */
#year {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--light-color);
  font-size: 1.25rem;
}

#year option {
  background-color: var(--main-color);
  color: var(--light-color);
}
