@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;
  --main-color: rgb(12, 12, 30);
  --main-color-transparent: rgba(12, 12, 30, 0.5);
  --secondary-color: rgb(207, 46, 46);
  --secondary-color-transparent: rgba(207, 46, 46, 0.25);
  --light-color: rgb(231, 229, 229);
  --light-transparent: rgba(231, 229, 229, 0.85);
  --dark-color: rgb(22, 20, 20);
  --dark-transparent: rgba(22, 20, 20, 0.5);
  --success: rgb(0, 128, 0);
  --danger: rgb(255, 0, 0);
}

html {
  overflow-x: hidden;
}

body {
  background: url(../images/background.webp) no-repeat center center fixed;
  background-size: cover;
  font-size: 0.75rem;
  background-position: center;
  min-height: 100vh;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: 0;
  border-radius: 0.5rem;
  outline: 0;

  padding: 1rem 0.5rem;
  font-size: 0.85rem;

  cursor: pointer;
}

li.hidden {
  display: none;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--main-color);
  z-index: 2;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}

#sidebar::--webkit-scrollbar {
  display: none;
}

#sidebar.hide {
  width: 60px;
}

#sidebar.hide + #header {
  width: calc(100% - 60px);
  left: 60px;
}

#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--secondary-color);
  position: sticky;
  top: 0;
  left: 0;
  background: var(--main-color);
  z-index: 1;
  padding-bottom: 20px;
  box-sizing: content-box;
}

#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}

#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

#sidebar .side-menu li.active {
  background: var(--light-color);
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--light-color);
  z-index: -1;
}

#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--light-color);
  z-index: -1;
}

#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--main-color);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--light-color);
  white-space: nowrap;
  overflow-x: hidden;
}

#sidebar .side-menu.top li.active a {
  color: var(--secondary-color);
}

#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}

#sidebar .side-menu.top li a:hover {
  color: var(--secondary-color);
}

#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}

#header {
  background: var(--main-color);
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}

#header nav {
  height: 56px;
  width: 90vw;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
}

#header nav a {
  color: var(--light-color);
}

#header nav .bx.bx-menu {
  cursor: pointer;
  color: var(--light-color);
}

#header nav .profile {
  align-items: center;
  display: flex;
  gap: 8px;
}
#header nav .profile span {
  font-size: 1.05rem;
  font-weight: 600;
}

#header nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

#content {
  width: 100%;
  padding: 2rem 0;
  padding-left: 4.0625rem;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  justify-content: space-between;
}

#page-heading {
  font-size: 2rem;
  color: var(--light-color);
}

#header main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#header main .head-title h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--light-color);
}

@media screen and (max-width: 768px) {
  #header {
    width: 100%;
    left: 200px;
  }
  #sidebar {
    width: 200px;
  }

  #sidebar.hide {
    width: 0;
  }

  #sidebar.hide + #header {
    width: 100%;
    left: 0;
  }

  #content nav form.show ~ .profile {
    display: none;
  }

  #content {
    padding-left: 0;
  }
  #profileName {
    display: none;
  }
}

/* Ndzalama */
.form {
  display: flex;
  flex-direction: column;
  color: var(--light-color);
  background-color: var(--dark-transparent);
  padding: 2rem;
  border-radius: 1rem;
  margin: auto;
  width: 90vw;
  max-width: 700px;
}

.form__header {
  text-align: center;
  margin-bottom: 2rem;
}

.form__controls-container {
  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

.form__details-container {
  padding: 1.5rem;
  border-radius: 0.5rem;
  border-color: var(--dark-color);
  outline: 0;

  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.form__details-header {
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  background-color: var(--secondary-color);
  border-radius: 0.5rem;
}

.form__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.form__control {
  flex: 1 200px;
  display: flex;
  flex-direction: column;

  gap: 0.5rem;
}

.form__control input,
.form__control select,
.form__control textarea {
  padding: 0.75rem;
  border: 0;
  border-radius: 0.25rem;

  outline: none;
}

.form__submit {
  margin: 2rem 0;
  background-color: transparent;
  border: 0.1rem solid var(--light-color);
  color: var(--light-color);
}

/* Modal */
.student__info-modal,
.hod-modal,
.application-modal {
  position: absolute;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
  background-color: var(--main-color-transparent);

  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.student__info-modal.show,
.hod-modal.show,
.application-modal.show {
  transform: scale(1);
  z-index: 10;
}

.student__info-container,
.hod-container,
.application-container {
  position: relative;

  border-radius: 1rem;
  background-color: var(--main-color);

  width: 90%;
  max-width: 700px;
  max-height: 80vh;
  overflow: auto;
  transform: translateY(-150%);
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) 0.3s;
}

.student__info-modal.show .student__info-container,
.hod-modal.show .hod-container,
.application-modal.show .application-container {
  transform: translateY(0);
  opacity: 1;
}

.student__info-container,
.modal-wrapper,
.student__info-header {
  padding: 0 1rem;
  background-color: var(--light-color);
}

.close-button {
  position: absolute;
  top: 0.25rem;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;

  background-color: var(--light-color);
  box-shadow: 0 0 0.5rem var(--secondary-color);
  border-radius: 50%;
}

/* Modal styles */
.info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0;

  border-bottom: 1px solid var(--secondary-color-transparent);
}

.info select {
  padding: 0.75rem;
  border: 0;
  border-radius: 0.25rem;
  width: max-content;
  outline: none;
}

.name {
  font-size: 1.75rem;
  font-weight: 700;
  padding: 1rem 0;
}

.label {
  opacity: 0.7;
}

.value {
  font-size: 1rem;
  font-weight: 600;
}

/* View application button */
.edit__application,
.view__application {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--main-color);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--light-color);
  width: max-content;

  cursor: pointer;
}

.view__application.dark,
.edit__application.dark {
  color: var(--light-color);
  background-color: var(--main-color);
}

/* Feedback */
.feedback {
  color: var(--light-color);
  width: 300px;
  border-radius: 0.5rem;
  padding: 1rem;

  flex-direction: column;
  gap: 0.5rem;

  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  /* transform: translateY(calc(-100% - 1rem)); */
  transition: all 0.3s ease-in-out;

  .feedback__message {
    line-height: 1.25rem;
  }
}

.feedback.feedback--show {
  transform: translateY(0);
}

.link-info{
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 0.5rem 0;
  cursor: pointer;
  font-weight: 600;
  font-size: .8rem;
  width: fit-content;
}

.link-info:hover {
  color: #3c7691;
}